// Specific CSS for your home-page


// @media(min-width: 800px) {
//   .projet-right-photo{
//     display:block
//   }

//   .mob-photo{
//     display: none;
//   }
//   #home-header{
//     height: 600px;
//     .info-left{
//       padding: 70px;
//       width: 40%;
//       p{
//         margin-top: 120px;
//       }
//     }
//     .photo-right{
//       width: 60%;
//     }
//   }
// }



// @media(max-width: 800px) {
//   .projet-right-photo{
//     display:block
//   }

//   .mob-photo{
//     display: none;
//   }
//   #home-header{
//     height: 380px;
//     padding: 20px;
//     .info-left{
//       padding: 40px;
//       width: 50%;
//       p{
//         margin-top: 40px;
//       }
//     }
//     .photo-right{
//       width: 50%;
//     }
//   }
// }

@media(min-width: 800px) {

  #home-header{
  margin-top: 0px;
  margin-bottom: 80px;
  display: flex;
  height: 600px;
  width: 100%;
  text-align: left;
    .info-left{
      width: 40%;
      padding: 70px;
      .lang-head{
        display: flex;
        justify-content: flex-start;
        img{
          height: 40px;
          object-fit: cover;
          margin-right: 20px;
        }
      }
      p{
        font-family: 'Merriweather', serif;
        font-size: 30px;
        margin-top: 120px;
      }
      h2{
        margin-top: 50px
      }    
      h1{
        margin-top: -5px;
        margin-bottom: 0;
        transform: rotate(
          -2deg
          ) skew(
          -2deg
        );
        span{
          background-color: #b098A4;
          height: 40px;
        }
      } 
    }
    .photo-right{
      display: block;
      width: 60%;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 2s;
      animation-name: animatebottom;
      animation-duration: 2s;
      img{
        width: 100%;
      }
    }
    .photo-profile-mob{
      display: none;
    }
  }
}

@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-50px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


@media(max-width: 800px) {
  #home-header{
    margin-top: 70px;
    margin-bottom: 80px;
    display: block;
    height: auto;
    width: 100vw;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
    text-align: center;
    .info-left{
      // width: fit-content;
      padding: 0px;
      .lang-head{
        display: flex;
        justify-content: center;
        img{
          height: 40px;
          object-fit: cover;
          margin-right: 20px;
        }
      }
      p{
        font-family: 'Merriweather', serif;
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 70px;
        z-index: 0;
      }
      h2{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
      }
      h1{
        // margin-left: 30px;
        margin-right: 30px;
        margin-top: -15px;
        margin-bottom: 0;
        width: 100%;
        transform: rotate(
          -2deg
          ) skew(
          -2deg
        );
        span{
          background-color: #b098A4;
          height: 40px;
        }
      } 
      h1, h2{
        margin-bottom: 30px;
      }
    }
    .photo-right{
      display: none;
    }
    .photo-profile-mob{
      display: block;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}

.description{
  margin-bottom: 50px;
}

