<div id="navbar" class="nav-top">
  <div id="my-links">
    <a href="https://github.com/Auriane-grg" target="_blanck"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/augregoire/" target="_blanck"><i class="fab fa-linkedin-in"></i></a>
    <a href="mailto:auriane.gregoire@gmail.com" target="_blanck"><i class="fas fa-paper-plane"></i></a>
    </div>
  <div id="pages">
    <%= link_to "Home", root_path %>
    <%= link_to "Projets", projets_path %>
    <%= link_to "Auriane",  pages_about_path %>
  </div>
</div>
