<div id="about-header">
  <div class ="info-left">
    <h1><span>Auriane Grégoire</span></h1>
    <h2>Fullstack developpeuse</h2>
    <div class='contact-head'>
      <a href="https://github.com/Auriane-grg" target="_blanck"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/augregoire/" target="_blanck"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:auriane.gregoire@gmail.com" target="_blanck"><i class="fas fa-paper-plane"></i></a>
    </div>
  </div>
  <div class='photo-right'>
    <%= cl_image_tag("auriane_tb2aww") %>
  </div>
</div>

<div id="about-me">
  <p>Passionnée et curieuse, <b>je code des applications web sous Ruby on Rails</b> et m'efforce de les rendre aussi facile d'utilisation que design !</p>
  <p>Cette double casquette me provient de mes expériences passées en tant que Product Owner, durant lesquelles j'ai commencé à me passioner pour le code. Cela m'a également appris l'importance de délivrer petit à petit un <b>produit dont l'UX et l'UI ont été pensées, testées</b> et validées auparavant. Les mots "scrum", "test", "user stories" et "backlog" ne me font donc pas peur.</p>
  <p>Aujourd'hui, <b>je souhaite relever de nouveaux défis techniques et créatifs au sein d'une nouvelle équipe !</b></p>
</div>

<div class='btn-inside'>
  <%= link_to 'VOIR MES PROJETS WEB', projets_path, class:'btn'%>
</div>

<div id="skills">
  <%= cl_image_tag("rails_zrus9h") %>
  <%= cl_image_tag("ruvy_fwnuyr") %>  
  <%= cl_image_tag("sql_dbnppw") %>
  <%= cl_image_tag("js_alec8h") %>
  <%= cl_image_tag("css_fxuitt") %>
  <%= cl_image_tag("html_cmlh6k") %>
  <%= cl_image_tag("git_ta1am6") %>

</div>

