<div id="about-header">
  <div class ="info-left">
    <h1>Auriane Grégoire</h1>
    <h2>Fullstack developpeuse</h2>
    <div class='contact-head'>
      <a href="https://github.com/Auriane-grg"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/augregoire/"><i class="fab fa-linkedin-in"></i></a>
      <a href="auriane.gregoire@gmail.com"><i class="fas fa-paper-plane"></i></a>
    </div>
  </div>
  <div class='photo-right'>
    <img src='https://previews.dropbox.com/p/thumb/ABHkXDcyBtkbv1DKXHNjcmszjRMoMmUSZUVdr8SZNgssL-oXQ5mvy8igAB5MJoo7D8WLnVt64fuWz3cWqb9FjVqG44r2o9A41xFyPtmLLy1SYonhlaXuENF_uSjWo4SwFFBgi7rZz467Xmwc4O-gH_WhfnCdj0_xf5YqpMeqBrjjWvK7YzOufqFLNyRYBFTFNrsWlxjEfMZ36A9njCsf6JJKcCgZgvU_jA159ev06hQSNf9AEoAikyw_uyH7SlkxQmuho-1Cxg5vcpsyZsbqG_W9ZwwDmUEDScp9ku5cEPI6kOYy4p1RIwHFci5-B2O6nOaHk26VbgOWIDdLOwFAKgp8HymH2csdWSiqJUlijH5voYUuU_zYRZwr5xDfcFKNs_M/p.jpeg?fv_content=true&size_mode=5' alt='auriane gregoire'>
  </div>
</div>

<div id="about-me">
  <p>Passionnée et curieuse, <b>je code des applications web sous Ruby on Rails</b> et m'efforce de les rendre aussi facile d'utilisation que design !</p>
  <p>Cette double casquette me provient de mes expériences passées en tant que Product Owner, durant lesquelles j'ai commencé à me passioner pour le code. Cela m'a également appris l'importance de délivrer petit à petit un <b>produit dont l'UX et l'UI ont été pensées, testées</b> et validées auparavant. Les mots "scrum", "test", "user stories" et "backlog" ne me font donc pas peur.</p>
  <p>Aujourd'hui, <b>je souhaite relever de nouveaux défis techniques et créatifs au sein d'une nouvelle équipe !</b></p>
</div>

<div id="skills">
  
  <div id='lang-about'>
    <div class="white-space-large">
    </div>
    <div class="skills-dev">
      <img src='https://previews.dropbox.com/p/thumb/ABHLZMFHXyVIvdJaWPY8St82dq6eJFGsoN8Q1mDl6TXbG6q16cVUi2gQSkJq8bLBbOVcBi73R_0p0mWf_sH9TnPHdWVTVSXyRWW5mWA-vt3YxTJYcXSdKl4z4pCVH_dxMR8xK3I2ys0Z7KVexHyv83BozTKpO-h1jpDo9izHKRvfvdW4SbPN1Tb5n80mGSJE7ITnZty68VIf0XvT24X37zsfZIYSyks9uNGCdoOSLxT0Xjx_U_P8o2B78OPvruAjpA3X4VmFMKFWtTCjF6WTlOfQvG8A-LinJPnc6ILoio5xcne5HlQHiPIekpzc52h2z1jhMxxWRPqt8UuIrri7Uu4zhk0HCe2EBx_SKrG37jgQgQ/p.png?size=1280x960&size_mode=3' alt='ruby-on-rails'>
      <img src='https://previews.dropbox.com/p/thumb/ABG3e_SGtveLtlOQHTb8r78xZ_9uHhx4lGpZQ6Llt_57fOGemGG2JtJtm5UHGjn7K2wkg-LQRRmqFTDtABWZeGNgbggQVR3ZivT4BqPRoCl1vvjB6Gy7wB9eO_ldgTdQMNwq2Ti0_MLvXA492xwHCLdjPNFyCXlIXq9tuIgi2q7b_49pOd7CIb30bj7oJVOhhR6shtuqu-Bc47V1-OX79yBw0k3y2OEDMle88yneuDRKyeXExD1n-PmjKcJ5k8gnfKOTtZQisTGfzrF-j0ksi7eTqle28Wd_-Qa6ufk0leO7jnw2PUXjJ1t5NM1Oq-RVo8Qeq78gcXp-UdlGutu8h4hUDzYjEkKQ8-BvILrrPS3rwQ/p.png?size=2048x1536&size_mode=3' alt='sql'>
      <img src='https://previews.dropbox.com/p/thumb/ABHvmhH2ck2oTCcobPYvgWrv7ubKoya6uaqP6or9R_SN_VDOqj9dzwp6Gl25aqx53EjqcS7LSFX_VznvPHhcuOktROMFlAzM_pDVbC75GEb2pFyDaBhmCXMsQh9gYoq7vTSCPcqslnO7tGXI0kq7-Mwk1hGx6P1lSuyG-QxVoFmVZEEH9rhgSy27Veh9fzQYGKi3I2fNFRyd7x59cS1VIIV6-LHUMIZlFsiTY_qBYUmJq2sbYoMWQOcGj4A60XXJQn11t9AkKVPvDSyRIJPh0M18yIjL9LofkNfftK3lA3oGAz72IpDKRh5-l_2AXLmfAlizEEZ6YVWfzgzMKQP8meDOtID3-NO-0mjDEZx5XIm5rQ/p.png?size=1280x960&size_mode=3' alt='javascript'>
      <img src='https://previews.dropbox.com/p/thumb/ABHrA81MdulcSz6FVEFikZVUjgTMnw1VfJcFIne2GdGAaYWh9zA3kXt88P_PS0tECP-8Isdsohu-hoDVR-CwGZ29VD-vneMS_YTfCLf_KTznf-X1zVi1Nzole3euOVGSuyBdZjwR2XNq3Ab_kfhT4PM_47hwCCWYmT_fpGyBLB5Z_w_RRWvBbe4MjuCV44APYl7MkWmtleYP53kqxD1OcfnL8rPBeXQsWxR4DWQ4C7wu_CJBquXvKTiDtjlTQb_9kaAF8N4Q4LnQOCs-pGVfXyLkmREAmEnSLg580YV_wE9Ay12PTfT6fvgQBM007gVfi0nkxpuWp46unIivkKcEJxe9sXSYdTNzWC9HCGK9hZOMgQ/p.png?fv_content=true&size_mode=5' alt='css'>
      <img src='https://previews.dropbox.com/p/thumb/ABGNODGnUwLi77eypTMUrIqPSPAp8_KAsT-8YZmNWycNkIOXhlHuQxpMpY9JNugUkupLU8o9-qtJMW8R3PJkz3IQVKjOsO5HPQKEsaUiOD5JD87LJRVjhTVfrbZ-d4klUMilqDgJ--OOkdbklfllR7HSH3pijSHMX4O29qxRSio6EtiZGiwrjBivkHnttO_XQ8B-c_sl9qg33G-2Br2NGFOTrTGJg6Yt6DEwa7is3da3jFMPizaj0kAFlu5AvxX01AaVO15D1oNwxermw3XxBSsMveTH8fV6vpqdaMlCKS3Xjh3ziP0XdYkCzdRjtDUy-XgwtMaJndN253bAvl0YNS22NMsXwixrJ79TMg1YqzPprA/p.png?size=1280x960&size_mode=3' alt='html'>
      <img src='https://previews.dropbox.com/p/thumb/ABHpXIeRONfL2ixspwG6qZFtpjqcD3nMvx46hfpOdfs4yeYdfZe5p7ZSw8TPcN78jx1fzPjFFyQuHgS84yGLJfKfjusZIPcKmNiilgB26eaJOZ5uDdukROilizEysuFgZbgdr0tFYljp0RLDrLFbxskWJRmAJQzplecIWh_Ng7A1sT5d7CZmWTGIgZDlGoj0CvW6sKXmWkQw13TiduBfKT4Pijto1QGj-zjdo3AlrB12ZrKPQZC9ytTG8ITFyj3sXq4dAC-q6EPSC3ACZJJ5Ler6lp73_eBMd1dVH-pndBzwf61_yxaIzEbOG3n-6b5WS8K287xVvG1v3fnMlDc2qtC0bvPpYymBJzwebhn_3D_AqQ/p.png?size=2048x1536&size_mode=3' alt='bootstrap'>
    </div>
    <div class="white-space-small">
    </div>
  </div>
  
  <div id='soft-about'>
    <div class="white-space-small">
    </div>
    <div class="skills-dev">
      <img src='https://previews.dropbox.com/p/thumb/ABHLZMFHXyVIvdJaWPY8St82dq6eJFGsoN8Q1mDl6TXbG6q16cVUi2gQSkJq8bLBbOVcBi73R_0p0mWf_sH9TnPHdWVTVSXyRWW5mWA-vt3YxTJYcXSdKl4z4pCVH_dxMR8xK3I2ys0Z7KVexHyv83BozTKpO-h1jpDo9izHKRvfvdW4SbPN1Tb5n80mGSJE7ITnZty68VIf0XvT24X37zsfZIYSyks9uNGCdoOSLxT0Xjx_U_P8o2B78OPvruAjpA3X4VmFMKFWtTCjF6WTlOfQvG8A-LinJPnc6ILoio5xcne5HlQHiPIekpzc52h2z1jhMxxWRPqt8UuIrri7Uu4zhk0HCe2EBx_SKrG37jgQgQ/p.png?size=1280x960&size_mode=3' alt='ruby-on-rails'>
      <img src='https://previews.dropbox.com/p/thumb/ABG3e_SGtveLtlOQHTb8r78xZ_9uHhx4lGpZQ6Llt_57fOGemGG2JtJtm5UHGjn7K2wkg-LQRRmqFTDtABWZeGNgbggQVR3ZivT4BqPRoCl1vvjB6Gy7wB9eO_ldgTdQMNwq2Ti0_MLvXA492xwHCLdjPNFyCXlIXq9tuIgi2q7b_49pOd7CIb30bj7oJVOhhR6shtuqu-Bc47V1-OX79yBw0k3y2OEDMle88yneuDRKyeXExD1n-PmjKcJ5k8gnfKOTtZQisTGfzrF-j0ksi7eTqle28Wd_-Qa6ufk0leO7jnw2PUXjJ1t5NM1Oq-RVo8Qeq78gcXp-UdlGutu8h4hUDzYjEkKQ8-BvILrrPS3rwQ/p.png?size=2048x1536&size_mode=3' alt='sql'>
      <img src='https://previews.dropbox.com/p/thumb/ABHvmhH2ck2oTCcobPYvgWrv7ubKoya6uaqP6or9R_SN_VDOqj9dzwp6Gl25aqx53EjqcS7LSFX_VznvPHhcuOktROMFlAzM_pDVbC75GEb2pFyDaBhmCXMsQh9gYoq7vTSCPcqslnO7tGXI0kq7-Mwk1hGx6P1lSuyG-QxVoFmVZEEH9rhgSy27Veh9fzQYGKi3I2fNFRyd7x59cS1VIIV6-LHUMIZlFsiTY_qBYUmJq2sbYoMWQOcGj4A60XXJQn11t9AkKVPvDSyRIJPh0M18yIjL9LofkNfftK3lA3oGAz72IpDKRh5-l_2AXLmfAlizEEZ6YVWfzgzMKQP8meDOtID3-NO-0mjDEZx5XIm5rQ/p.png?size=1280x960&size_mode=3' alt='javascript'>
      <img src='https://previews.dropbox.com/p/thumb/ABHrA81MdulcSz6FVEFikZVUjgTMnw1VfJcFIne2GdGAaYWh9zA3kXt88P_PS0tECP-8Isdsohu-hoDVR-CwGZ29VD-vneMS_YTfCLf_KTznf-X1zVi1Nzole3euOVGSuyBdZjwR2XNq3Ab_kfhT4PM_47hwCCWYmT_fpGyBLB5Z_w_RRWvBbe4MjuCV44APYl7MkWmtleYP53kqxD1OcfnL8rPBeXQsWxR4DWQ4C7wu_CJBquXvKTiDtjlTQb_9kaAF8N4Q4LnQOCs-pGVfXyLkmREAmEnSLg580YV_wE9Ay12PTfT6fvgQBM007gVfi0nkxpuWp46unIivkKcEJxe9sXSYdTNzWC9HCGK9hZOMgQ/p.png?fv_content=true&size_mode=5' alt='css'>
      <img src='https://previews.dropbox.com/p/thumb/ABGNODGnUwLi77eypTMUrIqPSPAp8_KAsT-8YZmNWycNkIOXhlHuQxpMpY9JNugUkupLU8o9-qtJMW8R3PJkz3IQVKjOsO5HPQKEsaUiOD5JD87LJRVjhTVfrbZ-d4klUMilqDgJ--OOkdbklfllR7HSH3pijSHMX4O29qxRSio6EtiZGiwrjBivkHnttO_XQ8B-c_sl9qg33G-2Br2NGFOTrTGJg6Yt6DEwa7is3da3jFMPizaj0kAFlu5AvxX01AaVO15D1oNwxermw3XxBSsMveTH8fV6vpqdaMlCKS3Xjh3ziP0XdYkCzdRjtDUy-XgwtMaJndN253bAvl0YNS22NMsXwixrJ79TMg1YqzPprA/p.png?size=1280x960&size_mode=3' alt='html'>
      <img src='https://previews.dropbox.com/p/thumb/ABHpXIeRONfL2ixspwG6qZFtpjqcD3nMvx46hfpOdfs4yeYdfZe5p7ZSw8TPcN78jx1fzPjFFyQuHgS84yGLJfKfjusZIPcKmNiilgB26eaJOZ5uDdukROilizEysuFgZbgdr0tFYljp0RLDrLFbxskWJRmAJQzplecIWh_Ng7A1sT5d7CZmWTGIgZDlGoj0CvW6sKXmWkQw13TiduBfKT4Pijto1QGj-zjdo3AlrB12ZrKPQZC9ytTG8ITFyj3sXq4dAC-q6EPSC3ACZJJ5Ler6lp73_eBMd1dVH-pndBzwf61_yxaIzEbOG3n-6b5WS8K287xVvG1v3fnMlDc2qtC0bvPpYymBJzwebhn_3D_AqQ/p.png?size=2048x1536&size_mode=3' alt='bootstrap'>
    </div>
    <div class="white-space-large">
    </div>
  </div>
  
  <div id='graph-about'>
    <div class="white-space-large">
    </div>
    <div class="skills-dev">
      <img src='https://previews.dropbox.com/p/thumb/ABG3e_SGtveLtlOQHTb8r78xZ_9uHhx4lGpZQ6Llt_57fOGemGG2JtJtm5UHGjn7K2wkg-LQRRmqFTDtABWZeGNgbggQVR3ZivT4BqPRoCl1vvjB6Gy7wB9eO_ldgTdQMNwq2Ti0_MLvXA492xwHCLdjPNFyCXlIXq9tuIgi2q7b_49pOd7CIb30bj7oJVOhhR6shtuqu-Bc47V1-OX79yBw0k3y2OEDMle88yneuDRKyeXExD1n-PmjKcJ5k8gnfKOTtZQisTGfzrF-j0ksi7eTqle28Wd_-Qa6ufk0leO7jnw2PUXjJ1t5NM1Oq-RVo8Qeq78gcXp-UdlGutu8h4hUDzYjEkKQ8-BvILrrPS3rwQ/p.png?size=2048x1536&size_mode=3' alt='sql'>
      <img src='https://previews.dropbox.com/p/thumb/ABHvmhH2ck2oTCcobPYvgWrv7ubKoya6uaqP6or9R_SN_VDOqj9dzwp6Gl25aqx53EjqcS7LSFX_VznvPHhcuOktROMFlAzM_pDVbC75GEb2pFyDaBhmCXMsQh9gYoq7vTSCPcqslnO7tGXI0kq7-Mwk1hGx6P1lSuyG-QxVoFmVZEEH9rhgSy27Veh9fzQYGKi3I2fNFRyd7x59cS1VIIV6-LHUMIZlFsiTY_qBYUmJq2sbYoMWQOcGj4A60XXJQn11t9AkKVPvDSyRIJPh0M18yIjL9LofkNfftK3lA3oGAz72IpDKRh5-l_2AXLmfAlizEEZ6YVWfzgzMKQP8meDOtID3-NO-0mjDEZx5XIm5rQ/p.png?size=1280x960&size_mode=3' alt='javascript'>
      <img src='https://previews.dropbox.com/p/thumb/ABHrA81MdulcSz6FVEFikZVUjgTMnw1VfJcFIne2GdGAaYWh9zA3kXt88P_PS0tECP-8Isdsohu-hoDVR-CwGZ29VD-vneMS_YTfCLf_KTznf-X1zVi1Nzole3euOVGSuyBdZjwR2XNq3Ab_kfhT4PM_47hwCCWYmT_fpGyBLB5Z_w_RRWvBbe4MjuCV44APYl7MkWmtleYP53kqxD1OcfnL8rPBeXQsWxR4DWQ4C7wu_CJBquXvKTiDtjlTQb_9kaAF8N4Q4LnQOCs-pGVfXyLkmREAmEnSLg580YV_wE9Ay12PTfT6fvgQBM007gVfi0nkxpuWp46unIivkKcEJxe9sXSYdTNzWC9HCGK9hZOMgQ/p.png?fv_content=true&size_mode=5' alt='css'>
      <img src='https://previews.dropbox.com/p/thumb/ABGNODGnUwLi77eypTMUrIqPSPAp8_KAsT-8YZmNWycNkIOXhlHuQxpMpY9JNugUkupLU8o9-qtJMW8R3PJkz3IQVKjOsO5HPQKEsaUiOD5JD87LJRVjhTVfrbZ-d4klUMilqDgJ--OOkdbklfllR7HSH3pijSHMX4O29qxRSio6EtiZGiwrjBivkHnttO_XQ8B-c_sl9qg33G-2Br2NGFOTrTGJg6Yt6DEwa7is3da3jFMPizaj0kAFlu5AvxX01AaVO15D1oNwxermw3XxBSsMveTH8fV6vpqdaMlCKS3Xjh3ziP0XdYkCzdRjtDUy-XgwtMaJndN253bAvl0YNS22NMsXwixrJ79TMg1YqzPprA/p.png?size=1280x960&size_mode=3' alt='html'>
      <img src='https://previews.dropbox.com/p/thumb/ABHpXIeRONfL2ixspwG6qZFtpjqcD3nMvx46hfpOdfs4yeYdfZe5p7ZSw8TPcN78jx1fzPjFFyQuHgS84yGLJfKfjusZIPcKmNiilgB26eaJOZ5uDdukROilizEysuFgZbgdr0tFYljp0RLDrLFbxskWJRmAJQzplecIWh_Ng7A1sT5d7CZmWTGIgZDlGoj0CvW6sKXmWkQw13TiduBfKT4Pijto1QGj-zjdo3AlrB12ZrKPQZC9ytTG8ITFyj3sXq4dAC-q6EPSC3ACZJJ5Ler6lp73_eBMd1dVH-pndBzwf61_yxaIzEbOG3n-6b5WS8K287xVvG1v3fnMlDc2qtC0bvPpYymBJzwebhn_3D_AqQ/p.png?size=2048x1536&size_mode=3' alt='bootstrap'>
    </div>
    <div class="white-space-small">
    </div>
  </div>
</div>

<div class='btn-inside'>
  <%= link_to 'VOIR MES PROJETS WEB', projets_path, class:'btn'%>
</div>