<div id="home-header">
  <div class ="info-left">
    <p>Bonjour, je suis</p>
    <h1><span> Auriane Grégoire</span></h1>
    <div class='photo-profile-mob'>
      <%= cl_image_tag("auriane_tb2aww") %>
    </div>
    <h2>Je suis Fullstack developpeuse</h2>
    <div class='lang-head'>
      <%= cl_image_tag("rails_qg59oc") %>
      <%= cl_image_tag("RUBY_wfuhrq") %>
      <%= cl_image_tag("js_uoiccw") %>
      <%= cl_image_tag("sql_qidann") %>
      <%= cl_image_tag("css_blof29") %>
      <%= cl_image_tag("html_opud0k") %>
    </div>
  </div>
  <div class='photo-right'>
    <%= cl_image_tag("auriane_tb2aww") %>
  </div>

  
</div>
<div class="projects">
  <% @projets.each do  |projet| %>
    <% if projet.id.even?%>
      <div class="projet">
        <div class='mob-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
        <div class="projet-left-info">
          <h2><%= projet.name %></h2>
          <p class='date'><%= projet.date %></p>
          <p class="description"><%= projet.description %></p>
          <% p = projet.name.partition(" ").first %>
          <%= link_to "EN SAVOIR PLUS", projets_path(anchor: p), class:'btn' %>
        </div>
        <div class='projet-right-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
      </div>
    <% else %>
      <div class="projet">
        <div class='mob-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
        <div class='projet-left-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
        <div class="projet-right-info">
          <h2><%= projet.name %></h2>
          <p class="description"><%= projet.description %></p>
          <%= link_to "EN SAVOIR PLUS", projets_path, class:'btn' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>