<div id="home-header">
  <div class ="info-left">
    <p>Bonjour, je suis</p>
    <div class="title">
      <h1> Auriane Grégoire</h1>
    </div>
    <h2>Je suis Fullstack developpeuse</h2>
    <div class='lang-head'>
    </div>
  </div>
  <div class='photo-right'>
    <%= cl_image_tag("auriane-green_o30ya6") %>
</div>