@media(min-width: 500px){
  #navbar{
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #45503B;
    padding: 12px;
    color: white;
    width: 100%;
    z-index: 1;
    a{
      color:white;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
    }
    #pages{
      display: flex;
      justify-content: space-between;
      a{
        margin: 0px 20px;
      }
    }
    #my-links{
      display: flex;
      justify-content: space-between;
      a{
        margin: 0px 20px;
      }
    }
  }
}

@media(max-width: 500px){
  #navbar{
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #45503B;
    padding: 12px;
    color: white;
    width: 100%;
    z-index: 1;
    a{
      color:white;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
    }
    #pages{
      display: flex;
      justify-content: space-evenly;
      mar
    }
    #my-links{
      display: flex;
      justify-content: space-evenly;
    }
  }
}