@media(min-width: 500px){
  #navbar{
    transition: top 0.3s;
    position:fixed;
    top: 0;
    z-index: 1;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    a{
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
    }
    #pages{
      display: flex;
      justify-content: space-between;
      margin-right: 15px;
      a{
        margin: 0px 20px;
      }
    }
    #my-links{
      display: flex;
      justify-content: space-between;
      a{
        margin: 0px 20px;
      }
    }
  }
}

@media(max-width: 500px){
  #navbar{
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    transition: top 0.3s;
    padding: 12px;
    width: 100%;
    z-index: 1;
    a{
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
    }
    #pages{
      display: flex;
      justify-content: space-evenly;
      a{
        margin-right: 10px;
      }
    }
    #my-links{
      display: flex;
      justify-content: space-evenly;
      a{
        margin-right: 10px;
      }
    }
  }
}



.nav-top{
  background-color: none;
  a{
    color:black;
    font-weight: bold;
  }
  #pages a:hover{
    border-bottom: 1px solid black;
  }
  #my-links a:hover{
    color:#b098A4;
  }
}

.nav-scroll{
  background-color: white;
  a{
    color:black;
    font-weight: bold;
  }
  #pages a:hover{
    border-bottom: 1px solid black;
  }
  #my-links a:hover{
    color:#b098A4;
  }
}