// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather', serif;
  font-weight: normal;
 }

 p, li{
  font-family: 'Open Sans', sans-serif;
 }


h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

 body{
   margin:0;
 }

 .btn{
  text-align: center;
  // background-color: #2C1A1D;
  padding: 12px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #2C1A1D;
  --initialTextColor: white;
  --slideTextColor: #2C1A1D;
  --initialBgColor: #2C1A1D;
  --slideBgColor: #fefefe;
  color: var(--initialTextColor);
  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.15s;
}

.btn:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 200%;
}
